:root {
  --text: #0f0a17;
  --background: #f7f5fa;
  --primary: #7d57b2;
  --secondary: #5c59ff;
  --accent: #bf749a;
}

* {
  margin: 0;
  padding: 0;
  block-size: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

.cont {
  width: 90%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}